/* general CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body CSS */

body {
    font-family: 'Playfair Display', serif;
    transition: all 0.5s ease;
}

/* navbar CSS */

.navbar {
    background-color: #c3b09f;
}

.nav {
    font-size: 0.9rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #b59f8c;
}


/* hero CSS */
.hero {
    background-image: url(./photos/tested.png);
    background-size: cover;
    min-height: 100vh;
}

.img {
    width: 370px;
    height: 500px;
}

.hero h1 {
    font-size: 4rem;
    margin-top: 30vh;

}

.hero h4 {
    font-size: 2rem;
}

.hero button {
    background-color: #c3b09f;
}

.hero button:hover {
    background-color: white;
    border-color: #b59f8c;
}

/* about me CSS */

.about {
    min-height: 70vh;
}

/* projects CSS */
.projects {
    min-height: 80vh;
}

/* contact me CSS */

.contact {
    min-height: 100vh;

}
.contact h6 {
    margin-bottom: 3rem;
}

.address {
    background-color: #f7f7f7;
}

.submit button {
    background-color: #c3b09f;
}

.submit button:hover {
    background-color: white;
    border-color: #b59f8c;
}

/* footer CSS */

.footer {
    height: 30vh;
    background-color: #c3b09f;
}
/*testing code*/

.card {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.card-img-top {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-body {
    opacity: 1;
}

.